@import "node_modules/concise.css/src/concise.scss";

body {
    background-color: $dark;
    padding: 0 10%;
    min-width: 465px;
}

header {
    @include row();
	background: url('/images/icons/icons_home.png') no-repeat right;
	background-size: 75px 75px;
	height: 200px;
	padding-top: 50px;

    h1 {
        color: white;
    }
}

button {
	background: #777;
}

.approved {
	background-color: rgb(94, 164, 40);
}

.unapproved {
	background-color: rgb(186, 34, 46);
}

.pending {
	background-color: rgb(208, 72, 46);
}



footer {
    @include row();
    padding: 30px 0;
}

.pageHead {
	@include row();
	height: 250px;
	width: 100%;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-position: 40px 30px;
	margin-top: -30px;
	margin-bottom: 10px;
	
	ul.info {
		margin-left: 15em;
		
		li {
			font-size: 1.7em;
		}
	}
	
	nav {
    margin-top: 5.5em;
    margin-left: 3em;
    
	    ul li {
	        padding-left: 10px;
            
            a {
                border: 3px solid #FFF;
                padding: 10px;
                border-radius: 15px;
                
                &:hover {
                opacity: .7;
                }
            }
	    }
	    
	    ul li:first-child {
	        padding-left: 10px;
	    }
	}
    
}

.pageHead.holiday {
    background: url('/images/icons/icons_holiday.png') no-repeat top 20px left 40px $holiday;
}

form {
    max-width: 500px;
    
    p:last-of-type {
        margin-top: 40px;
    }
}

.form {
    @include row();
    width: 60%;
	padding: 40px;
	padding-top: 80px;
	
	h2 {
        margin-bottom: 60px;
    }
}

.form.holiday {
	background: url('/images/icons/icons_holiday.png') no-repeat top 20px right 50px $holiday;
}

#menuBox {
    @include row();
	padding: 20px;
	
	h2 {
	    font-family: "cooper-black-std",sans-serif;
	    font-size: 0.9em;
	    margin: 0;
	}
	
	p {
	    font-size: .7em;
	    color: #FFF;
    }
    
    .info {
        margin-top: 110px;
    }
}

.menu {
    width: 200px;
    height: 200px;
    padding: 20px;
    
    ul li:nth-of-type(1),
    ul li:nth-of-type(2),
    ul li:nth-of-type(3)
    {
    	display: none;
    }
}

.menu.holiday {
	background: url('/images/icons/icons_holiday.png') no-repeat center 40px $holiday;
	background-size: 50%;
}

.info li {
    color: #FFF;
    font-size: .9em;
    line-height: 3em;
}

.hidden {
    display: none;
}


.views {
    @include row();
}

.view {
	width: 170px;
	height: 170px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 20px;
	line-height: 1.5em;
	float: left;
	
	img {
		margin-top: .5em;
	}
}